body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #004e5f; /* Dark Cyan */
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.5em;
    margin: 10px 0 20px;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

footer p {
    color: rgba(255, 255, 255, 0.7);
}

footer a {
    color: #00bcd4;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
